<ul class="contact-list" role="list">
  {%- for k in kontakter.personer %}
  {%- if k.forside !== false %}
  <li>
    <h3 class="contact-role">{{ k.rolle }}</h3>
    {%- if k.navn %}<p class="contact-name">{{ k.navn }}</p>{% endif %}
    <p class="contact-links">
      {%- if k.telefon %}<a href="tel:{{ k.telefon | telLenke }}">{{ k.telefon }}</a>{% endif %}
      {%- if k.epost %}<a href="mailto:{{ k.epost }}">{{ k.epost }}</a>{% endif %}
    </p>
  </li>
  {%- endif %}
  {%- endfor %}
</ul>
